* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-image: url('/Users/kate/Desktop/Turing/Mod3/KWKToDo/images/spencer-davis-1533762-unsplash.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 1000px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-family: cursive;
  font-size: 4em;
  color: white;
  font-weight: 900;
  background-color: #fa4338;
  margin: 20px;
  text-align: center;
  width: 80%;
}

.resturant-input, .location-input {
  margin: 10px 500px;
  height: 50px;
  width: 250px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.resturant-input:focus {
    outline:none;
}

.location-input:focus {
    outline:none;
}

.submit-btn {
  width: 250px;
  height: 50px;
  margin: 10px 500px;
  background: #d5112c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 3% 40%;
  width: auto;
  height: auto;
  padding: 2%;
  background-color: #12acdc;
  font-size: 3em;
  color: white;
  font-family: monospace;
  text-align: center;

}